{{> html-head}}

		<!-- ------------------------------------------------------------------------
		 -
		 -	Article
		 -
		 - ------------------------------------------------------------------------ -->
		<div id="article">

			<!-- PAGE 1 -->
			<div id="page1" class="page page-marker">

				<div class="baseline-grid-14 layer-0" style="position: absolute;">
					<div class="align-center">
						<img id="werk-box-0" src="images/peter-nencini/this-and-that_peter-nencini_werk-box-23.jpg" />
					</div>
				</div>

				<style>
					.grid-height {
						line-height: 158px;
					}
					.grid-height:hover {
						color: #00ff17;

						-moz-animation: spin 2s infinite linear;
						-o-animation: spin 2s infinite linear;
						-webkit-animation: spin 2s infinite linear;
						animation: spin 2s infinite linear;
					}
					.baseline-shift {
						line-height: 173px;
					}
				</style>

				<div class="align-middle">
					<div class="middle">

						<div class="row table-column-6">
							<div class="align-center"><h1>&nbsp;</h1></div>
							<div class="align-center">
								<a href="#"><h1 class="grid-height">D</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="grid-height"><i class="make-do-o-lowercase baseline-shift"></i></h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height">M</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height"><i class="make-do-a-lowercase baseline-shift"></i></h1></a>
							</div>
							<div class="align-center"><h1>&nbsp;</h1></div>
						</div>
						<div class="row table-column-6">
							<div class="align-center"><h1>&nbsp;</h1></div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height">k</h1></a>
							</div>
							<div class="align-center">
								<div class="rotate-30">
									<a href="#"><h1 class="shape grid-height">e</h1></a>
								</div>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="grid-height">S</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="grid-height"><i class="make-do-a-lowercase-1 baseline-shift"></i></h1></a>
							</div>
							<div class="align-center"><h1>&nbsp;</h1></div>
						</div>
						<div class="row table-column-6">
							<div class="align-center"><h1>&nbsp;</h1></div>
							<div class="align-center">
								<a href="#"><h1 class="grid-height">y</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height">T</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height">y</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height">p</h1></a>
							</div>
							<div class="align-center"><h1>&nbsp;</h1></div>
						</div>
						<div class="row table-column-6">
							<div class="align-center"><h1>&nbsp;</h1></div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height"><i class="make-do-symbol-4 baseline-shift"></i></h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="grid-height">P</h1></a>
							</div>
							<div class="align-center">
								<a href="#"><h1 class="shape grid-height"><i class="make-do-symbol-3 baseline-shift"></i></h1></a>
							</div>
							<div class="align-center"><h1>&nbsp;</h1></div>
						</div>
					</div>
				</div>

			</div>
			<!-- /PAGE -->



			<!-- PAGE 2 -->
			<div id="page2" class="page page-marker">

				<div class="baseline-grid-14">
					<div class="align-center">
						<img id="werk-box-1" src="images/peter-nencini/this-and-that_peter-nencini_werk-box-18.jpg" />
					</div>
				</div>

				<div class="row baseline-grid-39">
					<div class="col-sm-3 col-sm-offset-2">
						<div class="col-width-99">

							<span class="shape">
							{{md-p article 0}}
							</span>

						</div>
					</div>
				</div>

			</div>
			<!-- /PAGE -->



			<!-- PAGE 3 -->
			<div id="page3" class="page page-marker">

				<div class="baseline-grid-14">
					<div class="align-center">
						<img id="werk-box-2" src="images/peter-nencini/this-and-that_peter-nencini_werk-box-26.jpg" />
					</div>
				</div>

				<div class="row baseline-grid-10">
					<div class="col-sm-3 col-sm-offset-2">
						<div class="col-width-96">

							<span class="shape">
							{{md-p article 1}}
							</span>

						</div>
					</div>
				</div>

				<div class="row baseline-grid-39">
					<div class="col-sm-3 col-sm-offset-2">
						<div class="col-width-96">

							<span class="shape">
							{{md-p article 2}}
							</span>

						</div>
					</div>
				</div>

			</div>
			<!-- /PAGE -->



			<!-- PAGE 4 -->
			<div id="page4" class="page page-marker">

				<div class="row baseline-grid-10">
					<div class="col-sm-3 col-sm-offset-2">
						<div class="col-width-96">

							<span class="shape">
							{{md-p article 3}}
							{{md-p article 4}}
							</span>

						</div>
					</div>
					<div class="col-sm-3">
						<div class="col-width-96">
							<div class="baseline-grid-3">

								<span class="shape">
								{{md-p article 5}}
								</span>

							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /PAGE -->



			<!-- PAGE 5 -->
			<div id="page5" class="page page-marker">

				<div class="row baseline-grid-10">
					<div class="col-sm-3 col-sm-offset-5">
						<div class="col-width-96">

							{{md-p article 6}}
							{{md-p article 7}}

						</div>
					</div>
				</div>

			</div>
			<!-- /PAGE -->

		</div>






		<!-- ------------------------------------------------------------------------
		 -
		 -	Gallery
		 -
		 - ------------------------------------------------------------------------ -->
		<div id="gallery">


			<!-- IMAGE 1 -->
			<div id="image1" class="image image-marker warm-gray">

				<div class="align-middle">
					<div class="middle">
					</div>
				</div>

			</div>
			<!-- /IMAGE -->


		</div>



		{{> javascript-core}}



		<!-- page specific -->
		<script type="text/javascript">
			// Baker callbacks
			function onLeftTap(articleIndex) {
			};
			function onRightTap(articleIndex) {
			};
			function onUpTap(articleIndex) {
			};
			function onDownTap(articleIndex) {
			};


			/*
			 *	There must be a cleaner way to deal with
			 *	visibility states for onLoad... onPage... etc.
			 */
			// initial state
			function onReady(pageIndex) {
				// author
				if( pageIndex >= 2 ) {
					$('#article-author-container').toggleOpacity(false); // fade out
				}
				else {
					$('#article-author-container').toggleOpacity(true); // fade out
				}

			};


			// onepage-scroll callbacks
			// Article
			function onArticleLoad(pageIndex) {
			};
			function onBeforeArticlePage(pageIndex, nextIndex) {
				// author
				if( pageIndex == 1 && nextIndex == 2 ) {
					$('#article-author-container').toggleOpacity(false); // fade out
				}
				else if( pageIndex == 2 && nextIndex == 1 ) {
					$('#article-author-container').toggleOpacity(true); // fade in
				}

			};
			function onAfterArticlePage(pageIndex) {
			};

			// Gallery
			function onGalleryLoad(pageIndex) {
			};
			function onBeforeGalleryPage(pageIndex, nextIndex) {
			};
			function onAfterGalleryPage(pageIndex) {
			};

		</script>



	</body>
</html>